.dashboard {
  width: 100vw;
  max-height: 100vh;
  display: flex;
  .dashboard-menu.menu-close {
    @media screen and (max-width: 978px) {
      left: -250px;
    }
  }
  .dashboard-menu.menu-open {
    @media screen and (max-width: 978px) {
      left: 0;
      width: 15em;
    }
  }
  .dashboard-main {
    flex: 1;
    overflow: scroll;
  }

  .dashboard-body{
    position: relative;
    padding: 23px 23px 0 23px;

    @media only screen and (max-width: 678px) {
      padding: 26px 15px 0 15px;
    }
  }

  .dashboard-menu-close {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.35);
  }
}
